__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.env
sample.env
p17.pdf
p17.txt
pdf_to_txt.py
create_collection.py
create_vector_store.py
start_uvicorn_server.sh